---
import Me from '../../public/me.svg'
import {getLanguages,getTranslations} from '../scripts/getters'

const {lang = ''} = Astro.props
const
  url = new URL(Astro.request.url),
  pathSegments = url.pathname.split('/').filter(s => s),
  slug = pathSegments[2],
  collectionName = pathSegments[1],
  languages = getLanguages().filter(l => l !== lang)

---
<header>
  <a href="/">
    <Me/>
    {lang !== ''
      ? <b>{getTranslations(lang).title}</b>
      : <b data-i18n="title"/>}
  </a>

  <!-- Language Button -->
  {lang !== '' ? (
    <div>
      <b>{getTranslations(lang).read}:</b>
      {languages.map(l => (
        <a href={`/${l}/${collectionName}/${slug}`}>
          {getTranslations(l).langName}
        </a>
      ))}
    </div>
  ) : (
    <button
      id="langBtn"
      data-i18n-sep=": "
      data-i18n="language,langName"/>
  )}

  <!-- Theme Button -->
  {lang !== '' ? <button id="themeBtn"/> :
    <button
      id="themeBtn"
      data-i18n-sep=": "
      data-i18n="theme,themeVal"/>}

  <button id="menuBtn">☰</button>
</header>
