---

import {getLanguages, getTranslations, getSidebarTranslations} from '../scripts/getters'

const {lang = '', title = '', items = []} = Astro.props
const isBlog = lang !== '', t = getTranslations(lang)

const {sidebarBlog} = getSidebarTranslations(lang || 'en')

---

<div id="overlay" />
<aside id="mobileSidebar">
  <header>
    <nav>
      {isBlog
        ? t.links.map((l, i) => <a href={'/'+getTranslations('en').links[i].toLowerCase()}>{l}</a>)
        : (
          <template data-i18n-list="links">
            <a data-i18n-item data-i18n-item-attr="href:{en}" />
          </template>
        )}
    </nav>
    <div>
      {isBlog ? <h3>{sidebarBlog.title}</h3> : <h3 data-i18n="sidebarBlog.title"/>}
      {isBlog ? <input placeholder={t.search} /> : <input data-i18n-attr="placeholder:search" onclick="location.href='/blog'">}
    </div>
  </header>

  <ul>
    {isBlog ? sidebarBlog.list.map(i => (
      <button id="dropdownBtn">{i.category}</button>
      <ul>
        {i.posts.map(p => (
          <a href={p.link}>{p.title}</a>
        ))}
      </ul>
    )) : (
      <template data-i18n-list="sidebarBlog.list">
        <button data-i18n-item="category" id="dropdownBtn"/>
        <ul>
          <template data-i18n-sublist="posts">
            <a data-i18n-item="title" data-i18n-item-attr="href:link" />
          </template>
        </ul>
      </template>
    )}
  </ul>

  <footer>
    <!-- Language Button -->
    {isBlog ? null : (
      <button
        id="langBtn"
        data-i18n-sep=": "
        data-i18n="language,langName"/>
    )}

    <!-- Theme Button -->
    {lang !== '' ? <button id="themeBtn"/> :
    <button
      id="themeBtn"
      data-i18n-sep=": "
      data-i18n="theme,themeVal"/>}
  </footer>
</aside>
